/* all */
* { margin : 0; padding: 0; box-sizing: border-box; transition: 0.5s; color: #333; }
*:after { clear: both; display: block; content: ""; }

/*tag*/
li { list-style: none; }
a { text-decoration: none; }
span { display: inline-block; }
button { border: 0; }
h2 { text-align:center; padding-top: 30px; }

/*html,body*/
html,body { width: 100%; height: 100%; }

/* wrap	*/
.wrap { width: 100%; margin: 0 auto; }

/*header*/
#header {  }


/* index page */
.board { width: 1000px; margin:  0 auto; margin-top: 50px; margin-bottom: 50px; position: relative; }
.table { box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }

.wel_msg { width: 300px; height: 40px; font-size: 1.1em; text-align: center; margin: 0 auto; margin-bottom: 10px; line-height: 40px; }
.gsp_header > ul li { float: left; }

.table ul { border: 1px solid #ddd; height: 50px; line-height: 45px; }
.list:hover { background: #ddd; }

.table li { float: left; text-align: center; }
.table ul li:nth-child(1) { width: 100px; }
.table ul li:nth-child(2) { width: 610px; }
.title_box { width: 570px; height: 40px; }
.table ul li:nth-child(3) { width: 100px; }
.writer_box { width: 110px; height: 40px; }
.table ul li:nth-child(4) { width: 180px; }

.num,.v_num,.title_box,.v_title,.writer_box,.v_writer,.count,.v_count { overflow: hidden; text-overflow:ellipsis; white-space:nowrap; }

.search_form { width: 300px; height: 70px; }
.search { position: absolute; width: 130px; height: 40px; margin-top: 30px; }
.search_btn { position: absolute; width: 50px; height: 40px; margin-top: 30px; left: 220px; background: #ddd; font-weight: bold; font-size: 1em; }
.search_btn:hover { background: #999; }
.search_sel { width: 70px; height: 40px; margin-top: 30px; margin-right: 10px; }

.all_btn { width: 200px; height: 40px; position: absolute; right: 0; bottom: 0; }

/* write_btn */
.write_btn { width: 80px; height: 40px; margin-left: 20px; background: #ddd; text-align: center; line-height: 40px; float: right; font-weight: bold; font-size: 1em; cursor: pointer; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.write_btn:hover { background: #999; }

/* write_page */
.writing { width: 1000px; height: 400px; border:1px solid #ddd; background: #eeeeee; border-radius:10px; }
.writing > form input { border:1px solid #ddd; border-radius:4px; }
.writing > form input:nth-child(1) { width: 760px; height: 40px; margin-left: 10px; }
.writing > form input:nth-child(2) { width: 200px; height: 40px; margin: 10px;}
.textar { width: 975px; height: 280px; margin: 10px 10px; border: 1px solid #ddd; border-radius:3px; margin-bottom: 10px;}
#file_box { width: 300px; height: 26px; border: 1px solid #000; margin-bottom: 20px;}

/* view page */
.view { width: 1000px; min-height: 350px; border:1px solid #ddd; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); margin-bottom: 20px;}
.view > div{ float: left; border:1px solid #ddd; border-radius:4px; margin-top: 10px; }
.view > div:nth-child(1) { width: 50px; height: 40px; margin-left: 10px; text-align: center; line-height: 40px; }
.view > div:nth-child(2) { width:600px; height: 40px; margin-left: 10px; line-height: 40px; }
.view > div:nth-child(3) { width: 205px; height: 40px; margin: 10px; line-height: 40px; }
.view > div:nth-child(4) { width: 90px; height: 40px; line-height: 40px; }
.view > div:nth-child(5) { width: 670px; min-height: 300px; margin-left: 10px; margin-bottom: 10px; }
.view > div:nth-child(6) { width: 300px; height: 300px; margin-left: 10px; margin-bottom: 10px; }
.upimg { width: auto; height: auto; max-width: 300px; max-height: 300px; }

.v_text { word-wrap: break-word; }
/* delete page */
.del_btn { width: 80px; height: 40px; margin: 0 auto; margin-left: 20px; background: #ddd; text-align: center; line-height: 40px; margin-top: 30px; font-weight: bold; font-size: 1.1em; cursor: pointer; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.del_btn:hover { background: #999; }
.del_in { height: 40px; }

.del_form { text-align: center; }

/* sign_up page */
.sign_up_table { width: 500px; height: 300px; position: relative; margin: 0 auto; border:1px solid #ddd; margin-top: 50px; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.sign_up_table > form input { height: 30px; margin: 0 auto; }
.sign_up_table > form > div { width: 400px; margin: 0 auto; margin-top: 20px; }
.sign_up_table > form > div span { width: 120px; margin-right: 10px; }

.sign_up_btn { width: 80px; height: 40px; position: absolute; right: 0;  bottom: -70px; background: #ddd; line-height: 40px; font-weight: bold; font-size: 1.1em; cursor: pointer; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.sign_up_btn:hover { background: #999; }

/* sign_in */
.sign_in_table { width: 300px;  height: 100px; position: relative; margin: 0 auto; border: 1px solid #ddd; margin-top: 50px; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.sign_in_table > form input { width: 180px; height: 30px; margin-top: 5px; }
.sign_in_btn { width: 80px; height: 65px; display: inline-block; position: absolute; top: 15px; background: #ddd; line-height: 40px; font-weight: bold; font-size: 1.1em; cursor: pointer; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.sign_in_btn:hover { background: #999; }

.sign_box { width: 180px; height: 70px; display: inline-block; margin: 10px 10px; }

/* view list */
.view_list { width: 1000px; min-Height: 250px; margin: 0 auto; line-height: 40px; margin-bottom: 30px; }
.vlist { border: 1px solid #ddd; }
.view_list li { float: left; text-align: center; }
.view_list ul li:nth-child(1) { width: 100px; }
.view_list ul li:nth-child(2) { width: 600px; }
.title_box { width: 600px; height: 40px; }
.view_list ul li:nth-child(3) { width: 110px; }
.writer_box { width: 110px; height: 40px; }
.view_list ul li:nth-child(4) { width: 180px; }

.select { background: #ddd; }

/* paging */
.paging { width: 405px; height: 40px; position: absolute; right: 0; left: 0; margin: 0 auto; margin-top: 30px; }
.paging > ul li { float: left; width: 35px; margin: 5px; text-align: center; }
.current { font-size: 1.1em; color: #000; font-weight: bold; }

/* list_paging */
.list_paging { width: 635px; height: 40px; position: absolute; right: 0; left: 0; margin: 0 auto; margin-bottom: 30px; }
.list_paging > ul li { float: left; width: 35px; margin: 5px; text-align: center; }